extends layout

block content
  h1= title
  div
    table.statisticTable
      tr
        th Name
        th Balance
        th StartSum
        th Input
        th Output
        th Payments
        th OrderNumber
      each acc in list_account
        tr
          td
            a(href=acc.url) #{acc.name}
          td
            label #{acc.result}            
          td
            label #{acc.startSum}
          td
            label #{acc.sumInSOrders}
          td
            label #{acc.sumOutSOrders}
          td
            label #{acc.sumPayments}
          td
            label #{acc.ordernumber}
  ul
  p
    label.commonSum CommonSum: #{commonSum}


  div
    table.statisticTable
      tr
        td 
          label Eat
        td
          label #{statObject.normEat}
        td 
          label(class='spentLabel' overflownorm = statObject.eatColorAttribute) #{statObject.spendEat}   
        td 
          label(class='spentLabel' overflownorm = statObject.eatColorAttribute) #{statObject.diffEat}
        td
          label #{statObject.normEatMonth}  
        td
          label #{statObject.diffEatMonth}  
        td
          label #{statObject.moneyLeftEat}                       
      tr
        td
          label All
        td
          label #{statObject.normAll}
        td 
          label(class='spentLabel' overflownorm = statObject.allColorAttribute) #{statObject.spendAll}            
        td 
          label(class='spentLabel' overflownorm = statObject.allColorAttribute) #{statObject.diffAll}            
        td
          label #{statObject.normAllMonth}  
        td
          label #{statObject.diffAllMonth}  
        td
          label #{statObject.moneyLeftAll}
      table.statisticTable
        tr
          each yaPayment in statObject.yaList
            td.yaCell(isFourth = yaPayment.isFourth) #{yaPayment.value}
            
        
