extends layout
block scripts
   script.
     var thisMonthDates=!{JSON.stringify(statObject.thisMonthDates)}; 
   script(src='/javascripts/account_dates_chart.js')
block content
  div(style='display:flex; align-items: center;')
    a(href='/account/aggregatedList/prev/' + currMonthData.Date,style='width:33%') Prev
    h3(style='width:33%; text-align: center;') #{currMonthData.MonthName}
    a(href='/account/aggregatedList/next/' + currMonthData.Date,style='width:33%; text-align: right;') Next
  div
    table.statisticTable
      tr
        th Name
        th Balance
        th Check
        th StartSum
        th Input
        th Output
        th Payments
      each acc in accListObject.accList
        tr(class=acc.isuntouchable?'untouch':null)
          td
            a(href=acc.getOrdsUrl) #{acc.name}  #{acc.currency} 
          td
            label #{acc.result}  
          td
            div
              a.withoutWrap(href=acc.createCheckUrl) #{acc.lastCheckDate}/#{acc.lastCheckValue}                      
          td
            label #{acc.startSum}
          td
            label #{acc.sumInSOrdersCleanWithMB}
          td
            label #{acc.sumOutSOrdersClean}
          td
            label #{acc.sumPaymentsWithMB}
      tr
        td
        td
          label  
          each val, key in accListObject.sumObject.commonSum 
            label #{key} #{formatNumber(val)}
            br
        td  
        td
          label  
          each val, key in accListObject.sumObject.startSum 
            label #{key} #{formatNumber(val)}
            br
        td    
          label  
          each val, key in accListObject.sumObject.inputSum 
            label #{key} #{formatNumber(val)}
            br
        td 
          each val, key in accListObject.sumObject.outputSum 
            label #{key} #{formatNumber(val)}
            br                 
        td     
          each val, key in accListObject.sumObject.paymentsSum 
            label #{key} #{formatNumber(val)} 
            br                   

  div
    table.statisticTable
      tr
        td 
          label Eat
        td
          label #{statObject.normEat}
        td 
          label(class='spentLabel' overflownorm = statObject.eatColorAttribute) #{statObject.spendEat}   
        td 
          label(class='spentLabel' overflownorm = statObject.eatColorAttribute) #{statObject.diffEat}
        td
          label #{statObject.normEatMonth}  
        td
          label #{statObject.diffEatMonth}  
        td
          label #{statObject.moneyLeftEat}     
      tr
        td 
          label FastFood
        td
          label #{statObject.normFastFood}
        td 
          label(class='spentLabel' overflownorm = statObject.fastFoodColorAttribute) #{statObject.spendFastFood}   
        td 
          label(class='spentLabel' overflownorm = statObject.fastFoodColorAttribute) #{statObject.diffFastFood}
        td
          label #{statObject.normFastFoodMonth}  
        td
          label #{statObject.diffFastFoodMonth}  
        td
          label #{statObject.moneyLeftFastFood}                              
      tr
        td
          label All
        td
          label #{statObject.normAll}
        td 
          label(class='spentLabel' overflownorm = statObject.allColorAttribute) #{statObject.spendAll}            
        td 
          label(class='spentLabel' overflownorm = statObject.allColorAttribute) #{statObject.diffAll}            
        td
          label #{statObject.normAllMonth}  
        td
          label #{statObject.diffAllMonth}  
        td
          label #{statObject.moneyLeftAll}
    table.statisticTable
      tr
        th Date
        th Sum
        th Diff
        th TempResult
      each dateObject in statObject.thisMonthDates
        tr
          td
            a(href=dateObject.getDateUrl) #{dateObject.Date}
          td
            label #{dateObject.Value}
          td
            label #{dateObject.Diff}
          td
            label #{dateObject.TempResult}
    div#thisMonthDatesContainer            
            
        
