extends layout
block scripts
   script.
     let thisMonthDates=!{JSON.stringify(monthObject.thisMonthDates)}; 

     for (let dtValue in thisMonthDates){
      let dtObj=thisMonthDates[dtValue];
      dtObj.Date=new Date(dtObj.Date);
     }
     let thisMonthMondays=!{JSON.stringify(monthObject.thisMonthMondays)}; 
   script(src='/javascripts/account_dates_chart.js')
block content
  div(style='display:flex; align-items: center;')
    a(href='/account/aggregatedList/?startDate=' + dateObject.prevMonthStartDate,style='width:33%') Prev
    h3(style='width:33%; text-align: center;') #{dateObject.MonthName}
    a(href='/account/aggregatedList/?startDate=' + dateObject.nextMonthStartDate,style='width:33%; text-align: right;') Next
  div
    table.statisticTable
      tr
        th Name
        th Balance
        th Check
        th StartSum
        th Input
        th Output
        th Payments
      each acc in accListObject.accList
        tr(class=acc.isuntouchable?'untouch':null)
          td
            a(href=acc.getOrdsUrl) #{acc.name}  #{acc.currency} 
          td
            label #{fN(acc.result)}  
          td
            div
              a.withoutWrap(href=acc.createCheckUrl) #{acc.lastCheckDate} / #{fN(acc.lastCheckValue)}                      
          td
            label #{fN(acc.startSum)}
          td
            label #{fN(acc.sumInSOrdersCleanWithMB)}
          td
            label #{fN(acc.sumOutSOrdersClean)}
          td
            label #{fN(acc.sumPaymentsWithMB)}
      tr
        td
        td
          label  
          each val, key in accListObject.sumObject.commonSum 
            label #{key} #{fN(val)}
            br
        td  
        td
          label  
          each val, key in accListObject.sumObject.startSum 
            label #{key} #{fN(val)}
            br
        td    
          label  
          each val, key in accListObject.sumObject.inputSum 
            label #{key} #{fN(val)}
            br
        td 
          each val, key in accListObject.sumObject.outputSum 
            label #{key} #{fN(val)}
            br                 
        td     
          each val, key in accListObject.sumObject.paymentsSum 
            label #{key} #{fN(val)} 
            br                   

  div
    table.statisticTable
      tr
        td 
          label Eat
        td
          label #{fN(statObject.normEat)}
        td 
          label(class='spentLabel' overflownorm = statObject.eatColorAttribute) #{fN(statObject.spendEat)}   
        td 
          label(class='spentLabel' overflownorm = statObject.eatColorAttribute) #{fN(statObject.diffEat)}
        td
          label #{fN(statObject.normEatMonth)}  
        td
          label #{fN(statObject.diffEatMonth)}  
        td
          label #{fN(statObject.moneyLeftEat)}     
      tr
        td 
          label FastFood
        td
          label #{fN(statObject.normFastFood)}
        td 
          label(class='spentLabel' overflownorm = statObject.fastFoodColorAttribute) #{fN(statObject.spendFastFood)}   
        td 
          label(class='spentLabel' overflownorm = statObject.fastFoodColorAttribute) #{fN(statObject.diffFastFood)}
        td
          label #{fN(statObject.normFastFoodMonth)}  
        td
          label #{fN(statObject.diffFastFoodMonth)}  
        td
          label #{fN(statObject.moneyLeftFastFood)}   
      tr
        td 
          label IsExcess
        td
          label #{fN(statObject.normExcess)}
        td 
          label(class='spentLabel' overflownorm = statObject.excessColorAttribute) #{fN(statObject.spendExcess)}   
        td 
          label(class='spentLabel' overflownorm = statObject.excessColorAttribute) #{fN(statObject.diffExcess)}
        td
          label #{fN(statObject.normExcessMonth)}  
        td
          label #{fN(statObject.diffExcessMonth)}  
        td
          label #{fN(statObject.moneyLeftExcess)}                                       
      tr
        td
          label All
        td
          label #{fN(statObject.normAll)}
        td 
          label(class='spentLabel' overflownorm = statObject.allColorAttribute) #{fN(statObject.spendAll)}            
        td 
          label(class='spentLabel' overflownorm = statObject.allColorAttribute) #{fN(statObject.diffAll)}            
        td
          label #{fN(statObject.normAllMonth)}  
        td
          label #{fN(statObject.diffAllMonth)}  
        td
          label #{fN(statObject.moneyLeftAll)}
    table.statisticTable
      tr
        th Date
        th Sum
        th Diff
        th TempResult
      each dateObject in monthObject.thisMonthDates
        tr
          td
            a(href=dateObject.getDateUrl) #{dateObject.DateString}
          td
            label #{fN(dateObject.Value)}
          td
            label #{fN(dateObject.Diff)}
          td
            label #{fN(dateObject.TempResult)}
block wideContent            
  div#thisMonthDatesContainer            
            
        
