extends layout

block content
  h1= title
  div
    table.statisticTable
      tr
        th Name
        th Balance
        th StartSum
        th Input
        th Output
        th Payments
        th Check
      each acc in accListObject.accList
        tr(class=acc.isuntouchable?'untouch':null)
          td
            a(href=acc.getOrdsUrl) #{acc.name}
          td
            label #{acc.result}            
          td
            label #{acc.startSum}
          td
            label #{acc.sumInSOrdersClean}
          td
            label #{acc.sumOutSOrdersClean}
          td
            label #{acc.sumPayments}
          td
            div
              a.withoutWrap(href=acc.createCheckUrl) #{acc.lastCheckDate}/#{acc.lastCheckValue}
      tr
        td
        td
          label #{accListObject.sumObject.commonSum} 
        td
          label #{accListObject.sumObject.startSum}        
        td    
          label #{accListObject.sumObject.inputSum}/#{accListObject.sumObject.cashBackSum}     
        td 
          label #{accListObject.sumObject.outputSum}        
        td     
          label #{accListObject.sumObject.paymentsSum}           
        td
  ul
  p
    label.commonSum CommonSum: #{accListObject.commonSum}


  div
    table.statisticTable
      tr
        td 
          label Eat
        td
          label #{statObject.normEat}
        td 
          label(class='spentLabel' overflownorm = statObject.eatColorAttribute) #{statObject.spendEat}   
        td 
          label(class='spentLabel' overflownorm = statObject.eatColorAttribute) #{statObject.diffEat}
        td
          label #{statObject.normEatMonth}  
        td
          label #{statObject.diffEatMonth}  
        td
          label #{statObject.moneyLeftEat}                       
      tr
        td
          label All
        td
          label #{statObject.normAll}
        td 
          label(class='spentLabel' overflownorm = statObject.allColorAttribute) #{statObject.spendAll}            
        td 
          label(class='spentLabel' overflownorm = statObject.allColorAttribute) #{statObject.diffAll}            
        td
          label #{statObject.normAllMonth}  
        td
          label #{statObject.diffAllMonth}  
        td
          label #{statObject.moneyLeftAll}
      table.statisticTable
        tr
          each yaPayment in statObject.yaList
            td.yaCell(isFourth = yaPayment.isFourth) #{yaPayment.value}
            
        
