extends layout

block content
  h1= title
  div
    table.statisticTable
      tr
        th Name
        th StartSum
        th Input
        th Output
        th Payments
        th Balance
        th OrderNumber
      each acc in list_account
        tr
          td
            a(href=acc.url) #{acc.name}
          td
            label #{acc.startSum}
          td
            label #{acc.sumInSOrders}
          td
            label #{acc.sumOutSOrders}
          td
            label #{acc.sumPayments}
          td
            label #{acc.result}
          td
            label #{acc.ordernumber}
  ul
  p
    label.commonSum CommonSum: #{commonSum}