extends layout

block content
  h1= title
  
  ul
  each entity in entity_list
    li 
      a(href=entity.url) #{entity.Name}  
      | (#{entity._id})
      |  #{entity.Name}  
      |  #{entity.HasImage}
      if (entity.HasImage)  
        img(src='/../images/'+entity.Name+'32.png')

  else
    li There are no tags.