extends layout
block mystyles
   style(type="text/css").
      table,tr,td,th{
        border: 1px solid black;}
      td,th{
        text-align:center
      }
   script.
     var order_list=!{JSON.stringify(order_list)}; 
   script(src='/javascripts/order_list.js')
block content


  div
    table
      tr
        td
          label #{statObject.normEat}
        td 
          label #{statObject.spendEat}   
      tr
        td
          label #{statObject.normAll}
        td 
          label #{statObject.spendAll}            
  
  div(id='orderListContainer')
   
            