extends layout

block content
  h1= title
  
  ul
  each orderPlace in orderPlace_list
    li 
      a(href=orderPlace.url) #{orderPlace.Name}  
      | (#{orderPlace._id})
      |  #{orderPlace.Name}  
      |  #{orderPlace.HasImage}
      if (orderPlace.HasImage)  
        img(src='/../images/'+orderPlace.Name+'32.png')

  else
    li There are no orderPlace.