extends layout
block mystyles
   style(type="text/css").
      table,tr,td,th{
        border: 1px solid black;}
      td,th{
        text-align:center
      }
   script.
     var order_list=!{JSON.stringify(order_list)}; 
   script(src='/javascripts/order_list.js')
block content


  div
    table#statisticTable
      tr
        td 
          label Eat
        td
          label #{statObject.normEat}
        td 
          label(class='spentLabel' overflownorm = statObject.eatColorAttribute) #{statObject.spendEat}   
        td 
          label(class='spentLabel' overflownorm = statObject.eatColorAttribute) #{statObject.diffEat}   
      tr
        td
          label All
        td
          label #{statObject.normAll}
        td 
          label(class='spentLabel' overflownorm = statObject.allColorAttribute) #{statObject.spendAll}            
        td 
          label(class='spentLabel' overflownorm = statObject.allColorAttribute) #{statObject.diffAll}            
  
  div#orderListContainer
   
            