extends layout
block mystyles
   style(type="text/css").
      table,tr,td,th{
        border: 1px solid black;}
      td,th{
        text-align:center
      }
block content


  h1= title
  
  div
    table(style="width:100%")
      thead
        tr 
          th DateOrder 
          th Value
          th Description
          th ParentTag
          th IsJourney
          th Tags
      tbody
        each order in order_list
          tr
            td #{order.DateOrder_formatted}
            td #{order.Value}
            //td #{order.Description}
            td 
              a(href=order.url) #{order.Description}
            td #{order.ParentTag.Name}
            td #{order.IsJourney}
            td #{order.Tags}