extends layout
block mystyles
  script(src='/javascripts/order_form.js')
block content
  h1 #{title}
  form#order_form(method='POST' action='')
    div.form-group
     
      
      label(for='dtDateOrder') Date order:
      table(style='width:100%')
        tr
          td
            input#dtDateOrder.form-control(type='date', placeholder='Date' required='true' name='fDate' value=(undefined===fOrder ? moment().format('YYYY-MM-DD') : fOrder.DateOrder_pugFormat))
          td(style="width:10px")
          td
            button#btnSetYesterday.btn-primary(type='button' style='width:100%') Yesterday

      label(for='cmbParentTag') Parent tag:
      select#cmbParentTag.form-control(type='select', placeholder='Parent Tag' name='fParentTag' required='true')
        for tag in tag_list
          if fOrder
            option(value=tag._id selected=(fOrder.ParentTag.toString()==tag._id.toString() ? 'selected' : false)) #{tag.Name} - #{tag.MyNumber}
          else
            option(value=tag._id) #{tag.Name} - #{tag.MyNumber}
      br
      table(style='width:100%')
        tr
        each tag, index in popularTagList
          td(style='width:30%')
            button.btn.btn-primary(type='button' style='width:100%' onclick='popularTagButtonClick(\'' + tag._id + '\')') #{tag.Name}
          if (index <2)
            td(style="width:10px")


      label(for='txValue') Value:
      input#txValue.form-control(type='number', placeholder='Value' required='true' name='fValue' value=(undefined===fOrder ? '' : fOrder.Value))

      label(for='txDescr') Description:
      input#txDescr.form-control(type='text', placeholder='Order description' name='fDescription' value=(undefined===fOrder ? '' : fOrder.Description))
      br
      label(for='cmbPaymentType') PaymentType:
      select#cmbPaymentType.form-control(type='select', placeholder='Payment Type' name='fPaymentType')
        for paymentType in paymentType_list
          if fOrder
            option(value=paymentType._id selected=(fOrder.PaymentType && fOrder.PaymentType.toString()==paymentType._id.toString() ? 'selected' : false)) #{paymentType.Name}
          else
            option(value=paymentType._id) #{paymentType.Name}
      br
      button#btnDisableAfterClick.btn.btn-primary(type='submit') Submit
      br
      label(for='txTags') Tags:
      input#txTags.form-control(type='text', placeholder='Tags' name='fTags' value=(undefined===fOrder ? '' : fOrder.Tags))

      label(for='chIsJourney') IsJourney:
      input#chIsJourney.form-control(type='checkbox',  name='fIsJourney' checked= (undefined===fOrder ? false :fOrder.IsJourney))

      label(for='txLocId') LocalId:
      input#chIsJourney.form-control(type='text',  name='fLocalId' value=(undefined===fOrder ? '' : fOrder.LocalId))
               

  if errors 
    ul
      for error in errors
        li!= error.msg