extends layout

block content

  h1 Order: #{order.Description}
  
  div(style='margin-left:20px;margin-top:20px')

      p Value:  #{order.Value}
      p Date: #{order.DateOrder_formatted}
      p ParentTag: #{order.ParentTag}
      p Tags: #{order.Tags}

      if order.IsJourney
        p IsJourney: True
      else
        p IsJourney: False
      p LocalId: #{order.LocalId}