extends layout

block content

  h1 Order: #{order.Description}
  
  div(style='margin-left:20px;margin-top:20px')

      p Value:  #{order.Value}
      p Date: #{order.DateOrder_formatted}
      p ParentTag: #{order.ParentTag.Name}
      p Tags: #{order.Tags}

      if order.IsJourney
        p IsJourney: True
      else
        p IsJourney: False
      p LocalId: #{order.LocalId}
      p
        a(href=order.url+'/update') Update Order
      form(action=order.url+'/delete', method='POST' onsubmit="return confirm('Are you sure?');")
        input(type='submit', value='Delete')
      //    a(href=order.url+'/delete') Delete Order