extends commonOrderWithDate
block scripts
  script(src='/javascripts/base_form.js')
  script(src='/javascripts/order_form.js')

block contentOrder
      label(for='cmbType') Parent tag:
      select#cmbType.form-control(type='select' name='fParentTag' required='true')
        for tag in tag_list
          if fOrder
            option(value=tag._id selected=(fOrder.ParentTag.toString()==tag._id.toString() ? 'selected' : false)) #{tag.Name} - #{tag.MyNumber}
          else
            option(value=tag._id) #{tag.Name} - #{tag.MyNumber}
      br
      table(style='width:100%')
        tr
        each tag, index in popularTagList
          td(style='width:30%')
            button.btn.btn-primary(type='button' style='width:100%' onclick='popularTagButtonClick(\'' + tag._id + '\')') #{tag.Name}
          if (index < 2)
            td(style="width:10px")


      label(for='txValue') Value:
      input#txValue.form-control(type='number', placeholder='Value' required='true' name='fValue' value=(undefined===fOrder ? '' : fOrder.Value))

      label(for='txDescr') Description:
      input#txDescr.form-control(type='text', placeholder='Order description' name='fDescription' value=(undefined===fOrder ? '' : fOrder.Description))
      br
      label(for='cmbAccount') PaymentAccount:
      select#cmbAccount.form-control(type='select' name='fPaymentAccount')
        for account in accountList
          if fOrder
            option(value=account._id selected=(fOrder.PaymentAccount && fOrder.PaymentAccount.toString()==account._id.toString() ? 'selected' : false)) #{account.Name} - #{account.MyNumber}
          else
            option(value=account._id) #{account.Name} - #{account.MyNumber}
      br
      table(style='width:100%')
        tr
        each account, index in popularAccountList
          td
            button.btn.btn-primary(type='button' style='width:100%' onclick='popularAccountButtonClick(\'' + account._id + '\')') #{account.Name}
          if (index < popularAccountList.length-1)
            td(style="width:10px")
      br            
      button#btnDisableAfterClick.btn.btn-primary(type='submit') Submit
      br
      label(for='txTags') Tags:
      input#txTags.form-control(type='text', placeholder='Tags' name='fTags' value=(undefined===fOrder ? '' : fOrder.Tags))
      table
        tr
          td
            label(for='chIsMonthCat') IsMonthCategory:
            input#chIsMonthCat.form-control(type='checkbox',  name='fIsMonthCategory' checked= (undefined===fOrder ? false :fOrder.IsMonthCategory))
          td(style='width:30px')
          td
            label(for='chIsJourney') IsJourney:
            input#chIsJourney.form-control(type='checkbox',  name='fIsJourney' checked= (undefined===fOrder ? false :fOrder.IsJourney))

      label(for='txLocId') LocalId:
      input#txLocId.form-control(type='number',  name='fLocalId' value=(undefined===fOrder ? '' : fOrder.LocalId))

      if errors 
        ul
        for error in errors
          li!= error.msg