extends layout
block mystyles
   style(type="text/css").
      table,tr,td,th{
        border: 1px solid black;}
      td,th{
        text-align:center
      }
block content


  h1= title
  
  div
    table(style="width:100%")
      thead
        tr 
          th Name 
          th Acc
          th LocalId
      tbody
        each paymentType in paymentType_list
          tr
            td 
              a(href=paymentType.url) #{paymentType.Name}
            if (paymentType.Account)
              td   #{paymentType.Account.Name}
            else
              td  
            td #{paymentType.LocalId}