extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='input1') Name:
      input#input1.form-control(type='text', placeholder='Enter a new PaymentType name' name='fName' value=(undefined===fpaymentType ? '' : fpaymentType.Name))
      if (fpaymentType)
        label(for='input2') CurrentCount:
        input#input2.form-control(type='text', placeholder='Enter a new PaymentType name' name='fCurrentCount' value=fpaymentType.CurrentCount)
      label(for='chIsYandex') IsYandex:
      input#chIsYandex.form-control(type='checkbox', name='fIsYandex', checked=(undefined===fpaymentType ? '' : fpaymentType.IsYandex))
      label(for='inLocalId') LocalId:
      input#input1.form-control(type='text', placeholder='Enter a LocalId' name='fLocalId' value=(undefined===fpaymentType ? '' : fpaymentType.LocalId))
      select#cmbAccount.form-control(type='select', placeholder='Account' name='fAccount')
        for acc in account_list
          if fpaymentType
            option(value=acc._id selected=(fpaymentType.Account && fpaymentType.Account.toString()==acc._id.toString() ? 'selected' : false)) #{acc.Name}
          else
            option(value=acc._id) #{acc.Name}
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg