extends layout
block scripts
  script(src='/javascripts/base_form.js')
  script(src='/javascripts/sOrder_form.js')
block content
  form#detail_form(method='POST' action='')
    div.form-group
      label(for='dtDateOrder') Date order:
      table(style='width:100%')
        tr
          td
            input#dtDateOrder.form-control(type='date', placeholder='Date' required='true' name='DateOrder_frm' value=(undefined===serviceOrder_frm ? moment().format('YYYY-MM-DD') : serviceOrder_frm.DateOrder_pugFormat))
          td(style="width:10px")
          td
            button#btnSetYesterday.btn-primary(type='button' style='width:100%') Yesterday
    div.form-group
      label(for='cmbType') Type:
      select#cmbType.form-control(type='select', name='Type_frm')
        for tp in type_list
          if serviceOrder_frm
            option(value=tp selected=(serviceOrder_frm.Type && serviceOrder_frm.Type.toString()==tp ? 'selected' : false)) #{tp}
          else
            option(value=tp) #{tp}      
      label(for='txValue') Value:
      input#txValue.form-control(type='number' required='true'  name='Value_frm' value=(undefined===serviceOrder_frm ? '' : serviceOrder_frm.Value))
      label(for='txDescr') Description:
      input#txDescr.form-control(type='text' name='Description_frm' value=(undefined===serviceOrder_frm ? '' : serviceOrder_frm.Description))      
      label(for='chIsCashBack') IsCashBack:
      input#chIsCashBack.form-control(type='checkbox',  name='IsCashBack_frm' checked= (undefined===serviceOrder_frm ? false :serviceOrder_frm.IsCashBack))
      label(for='cmbAccountOut') AccountOut:
      select#cmbAccountOut.form-control(type='select', name='AccountOut_frm')
        option(value='') Please Select
        for account in account_list
          if serviceOrder_frm
            option(value=account._id selected=(serviceOrder_frm.AccountOut && serviceOrder_frm.AccountOut.toString()==account._id.toString() ? 'selected' : false)) #{account.Name}
          else
            option(value=account._id) #{account.Name}
      label(for='cmbAccountIn') AccountIn:
      select#cmbAccountIn.form-control(type='select', name='AccountIn_frm')
        option(value='') Please Select
        for account in account_list
          if serviceOrder_frm
            option(value=account._id selected=(serviceOrder_frm.AccountIn && serviceOrder_frm.AccountIn.toString()==account._id.toString() ? 'selected' : false)) #{account.Name}
          else
            option(value=account._id) #{account.Name}            
      label(for='txLocalId') LocalId:
    input#txLocalId.form-control(type='number' name='LocalId_frm' value=(undefined===serviceOrder_frm ? '' : serviceOrder_frm.LocalId))          
    button#btnDisableAfterClick.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg