extends commonOrderWithDate
block scripts
  script(src='/javascripts/base_form.js')
  script(src='/javascripts/sOrder_form.js')
block contentOrder
  form#detail_form(method='POST' action='')
    div.form-group
      table(style='width:100%')
        tr
        each tp, index in type_list
          td(style='width:33%')
            div
              label.btn.btn-primary.btnForRB(for='rbType'+ tp style='width: 100%;' selected=(fOrder? fOrder.Type.toString()==tp:tp=='between')) #{tp}
              input.hiddenRB(id='rbType'+ tp type='radio' name='Type_frm' value=tp checked=(fOrder ? fOrder.Type.toString()==tp:tp=='between'))
          if (index < 2)
            td(style="width:5px")
      table
        td
          label(for='txValue') Value:
          input#txValue.form-control(type='number' required='true'  name='Value_frm' value=(undefined===fOrder ? '' : fOrder.Value))
        td
          div#cashBackDv
            label(for='chIsCashBack') IsCashBack:
            input#chIsCashBack.form-control(type='checkbox',  name='IsCashBack_frm' checked= (undefined===fOrder ? false :fOrder.IsCashBack))
      label(for='txDescr') Description:
      input#txDescr.form-control(type='text' name='Description_frm' value=(undefined===fOrder ? '' : fOrder.Description))      
      label(for='cmbAccountOut') AccountOut:
      select#cmbAccountOut.form-control(type='select', name='AccountOut_frm')
        option(value='') Please Select
        for account in accountOutList
          if fOrder
            option(value=account._id selected=(fOrder.AccountOut && fOrder.AccountOut.toString()==account._id.toString() ? 'selected' : false)) #{account.Name}
          else
            option(value=account._id) #{account.Name} - #{account.MyNumber}
      table(style='width:100%')
        tr
        each acc, index in popularAccOutList
          td
            button.btn.btn-primary(type='button' style='width:100%' onclick='accoutOutClick(\'' + acc._id + '\')') #{acc.Name}
          if (index < 2)
            td(style="width:10px")            
      label(for='cmbAccountIn') AccountIn:
      select#cmbAccountIn.form-control(type='select', name='AccountIn_frm')
        option(value='') Please Select
        for account in accountInList
          if fOrder
            option(value=account._id selected=(fOrder.AccountIn && fOrder.AccountIn.toString()==account._id.toString() ? 'selected' : false)) #{account.Name}
          else
            option(value=account._id) #{account.Name} - #{account.MyNumber}
      table(style='width:100%')
        tr
        each acc, index in popularAccInList
          td
            button.btn.btn-primary(type='button' style='width:100%' onclick='accoutInClick(\'' + acc._id + '\')') #{acc.Name}
          if (index < 2)
            td(style="width:10px")                          
    button#btnDisableAfterClick.btn.btn-primary(type='submit') Submit
    label(for='txLocalId') LocalId:
    input#txLocalId.form-control(type='number' name='LocalId_frm' value=(undefined===fOrder ? '' : fOrder.LocalId))          
  if errors 
    ul
      for error in errors
        li!= error.msg