extends layout

block content

  h1 Name: #{tag.Name}
  h1 LocalId: #{tag.LocalId}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Orders
    
    dl
    each order in tag_orders
      dt 
        a(href=order.url) #{order.Description}
      dd #{order.Value}

    else
      p This tag has no orders